

{:http-server-options {:port 8080 :join? false :timeout 500}
 :env "local"
 :nomad/environments {"development" {:env "development"}
                      "staging" {:env "staging"}
                      "production" {:env "production"}}}
